# Ignore Python bytecode files
*.pyc

# Ignore local development files
__pycache__
.DS_Store

# Ignore database files
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Docker-related files
Dockerfile
docker-compose.yml
staticfiles

media

# Ignore other project-specific files
# Add any other files or directories you want to ignore
